#InfoPane {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 30vw;
  z-index: 314159;
  pointer-events: initial;
  display: inline-block;
}

.post-image img {
  height: auto;
  margin: 0 auto;
  max-width: 100%;
  display: block;
  transition: all 0.3s ease-in-out;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
}

.flag {
  /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 46px;
  width: 46px;
  line-height: 40px;
  -moz-border-radius: 23px;
  border-radius: 23px;

  background-color: rgb(138, 138, 138, 0.5);
  color: white;
  text-align: center;
  font-size: 100%;*/
  border: 1px solid #eee;
  width: 32px;
  height: 32px;
}

.post-header {
  border-bottom: 1px solid #eee;
  padding: 8% 10%;
  position: relative;
}

.post-header .post-title {
  color: #2b3542;
  font-family: 'Roboto Slab', sans-serif;
  font-size: 1.25em;
  font-weight: 700;
  line-height: 120%;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
}

.post .post-header:before,
.page .post-header:before {
  border: 12px solid transparent;
  border-top-color: #eee;
  bottom: 0;
  content: '';
  display: block;
  left: 10%;
  margin-bottom: -24px;
  position: absolute;
  z-index: 10;
}

.post .post-header:after,
.page .post-header:after {
  border: 11px solid transparent;
  border-top-color: #fff;
  bottom: 0;
  content: '';
  display: block;
  left: 10%;
  margin-bottom: -21px;
  margin-left: 1px;
  position: absolute;
  z-index: 11;
}

.post-header .post-title em {
  font-weight: 700;
}

.post-footer {
  border-top: 1px solid #eee;
  padding: 3% 4%;
  position: relative;
}

.blogmap-button {
  background-color: #bc4747;
  border: none;
  color: white;
  padding: 10px 26px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 3px;
}

.blogmap-arrow-button {
  background-color: #444;
  padding: 10px 16px;
}

.blogmap-button:hover,
.blogmap-button:focus,
.blogmap-button:active {
  color: #ffffff;
}
