.Map {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.Map-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

#map {
  width: 100vw;
  height: 100vh;
}

.map-marker {
  font-size: 24px;
  color: #bc4747;
}

.activeArea {
  position: absolute;
  right: 0px;
  top: 0px;
  height: 100vh;
  width: 70vw;
  pointer-events: none;
}
